/*Por si el browser no identifica estos elementos estructurales*/
header,section,footer,aside,nav,article,figure,figcaption,hgroup{
	display: block;
}

#caja_principal{
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

#cabecera{
	padding: 5px;
}

#area_principal{
	float: left;
	width: 640px;
	padding: 10px;
}

#barra_lateral{
	float: left;
	width: 240px;
	padding: 20px;
}

#pie{
	clear: both;
	text-align: center;
	padding: 20px;
}